<div class="container">
  <!-- <h1 class="app-title">DataPrism</h1> -->
  <img class="app-title" src="/assets/logo.jpeg">
  <p class="sub-title">Manage data efficiently.</p>
  <div class="left-side">
    <img src="assets/home17.png" alt="DataPrism illustration"> </div>
    <div class="right-side">

      <h1>Sign Up</h1>
      <form [formGroup]="form" (submit)="submit()">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
          placeholder="Name"
          required
        />
        <div *ngIf="submitted && form.get('name')?.hasError('required')">
          Name is required.
        </div>
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
          placeholder="Email"
          required
        />
        <div *ngIf="submitted && form.get('email')?.hasError('required')">
          Email is required.
        </div>
        <div *ngIf="submitted && form.get('email')?.hasError('email')">
          Please enter a valid email address.
        </div>
        <label for="password">Password</label>
        <input
          [type]="showPassword? 'text' : 'password'"
          id="password"
          formControlName="password"
          class="form-control"
          placeholder="Password"
          required
        />
        <span class="password-toggle" (click)="togglePasswordVisibility()">
          Show Password
        </span>
        <div *ngIf="submitted && form.get('password')?.hasError('required')">
          Password is required.
        </div>
        <div *ngIf="submitted && form.get('password')?.hasError('minlength')">
          Password must be at least 8 characters long.
        </div>
        <div *ngIf="submitted && form.get('password')?.hasError('requiresUpperLower')">
          Password must contain both uppercase and lowercase letters.
        </div>
        <button class="btn btn-primary">Subscribe</button>
      </form>
    </div>
    
</div>
