
<!-- <div class="container">
  <div class="content">
    <h1>DataPrism</h1>
    <p>
      A modern data visualization and analytics platform that empowers you to
      uncover hidden insights from your data. Gain clarity, make informed
      decisions, and unlock the full potential of your business.
    </p>
    <button class="btn btn-primary">Explore More</button>
  </div>
  <div class="footer">
    <p>&copy; DataPrism 2024</p>
  </div>
</div> -->


<img class="app-title" src="/assets/logo2.png">

<div class="container">

  <div class="card-row">
    <div class="card" id="card-1">
      <div class="card-text-container">
        <h2>Unlock the hidden potential of your data</h2>
        <p>Our data analysis tools make it easy to understand your data and make smarter decisions.</p>
        <div class="button-container">
          <button class="subscribe-button">
              <a routerLink="/register"> Subscribe Now</a>
          </button>
          <button class="login-button">
            <a routerLink="/login"> Login Now </a> 
          </button>
        </div>
      </div>
      <div class="card-image-container">
        <img src="assets/home10.jpg" alt="Empower your data with SVS" class="card-image">
      </div>
    </div>

    </div>
</div>


<div class="container">
  <div class="card-row">
    <div class="card" id="card-2">
      <div class="card-text-container">
        <h2>Your Data, Our priority</h2>
        <p>we ensure your data is protected with top security measures. We use advanced encryption techniques to keep it protected from unauthorized access.</p>
        <div class="button-container">
          <button class="subscribe-button">
              <a routerLink="/register"> Register for free</a>
          </button>
         
        </div>
      </div>
      <div class="card-image-container">
        <img src="assets/home9.png" alt="Empower your data with SVS" class="card-image">
      </div>
    </div>

    </div>
</div>



<div class="footer">
  <p>&copy; DataPrism 2024</p>
</div>